
body{
	background-color: white;
	text-align: center;
	
}
	#webseite{
		width: 980px;
		margin: 0 auto;
	}

	#header{
		width: 980px;
		height: 150px;
		background: buttonshadow;
		border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#header h1{
		padding-top: 50px;
		font-size: 60px;
		font-weight:bold;
		color: white;
		font-family: cursive;
	}
	#header a{
	position: relative;
	float: right;
	}
	#main{
		width: 980px;
		font-size: 20px;
		font-weight:bold;
		color: red;
		font-family: cursive;
	}
		#einlogen{
			float: left;
			width: 200px;
			height: 300px;
			background: lightyellow;
			margin-top: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			}
		#scrollbarUser{
		width:150px; 
		height:200px;
		border:1px solid;
		overflow: auto;
		margin-left: 10px; 
		margin-right: 10px;
		}

		#registrieren{
			float: right;
			width: 770px;
			height: 300px;
			background: lightyellow;
			margin-top: 10px;
			margin-bottom: 10px;
			border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		#scrollbar{
		width:400px; 
		height:150px;
		border:1px solid;
		overflow: auto;
		margin-left: 150px; 
		margin-right: 150px;
		}
	#logout{
	position: relative;
	float: right;
	}
	
	#footer{
		width: 980px;
		height: 30px;
		background: buttonshadow;
		margin-top: 20px;
		clear: both;
	}